<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="fragments/header :: header"></head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <form action="/add-author" method="post">
                        <div class="form-group col-md-4">
                            <p>
                                <label for="name" class="col-form-label">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Name" />
                            </p>
                            <p>
                                <input type="submit" class="btn btn-primary" value="Add Author" />
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>