<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <p><a href="/login">Adicionar autor</a></p>
            </div>
            <div class="row">
                <div th:switch="${authors}" class="col-md-12">
                    <div th:case="null">
                        <p>No authors yet!</p>
                    </div>
                    <div th:case="*">
                        <table class="table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <td>Id</td>
                                    <td>Name</td>
                                    <td>Edit</td>
                                    <td>Delete</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="author : ${authors}">
                                    <td th:text="${author.id}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>